@charset "UTF-8" ;
body{
    line-height: 1.7;
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}

a,
a:link{
    color: #3585b7;
}

a:visited{
    color:#6252B7;
}

a:hover{
    text-decoration: none;
    color: #555;
}

/* header */
header{
    display: flex;
}
header h1{
    margin: 25px 0 0 20px;
}

header nav{
    margin:0 0 0 auto;
}

header nav ul{
    list-style: none;
    margin:20px 0;
    padding:0;
    display: flex;
}

header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
display:block;
padding:10px 15px;
text-decoration: none;
color: #000;
}

header nav ul li a:hover{
    color:#888;
}

.title{
    background-color:#f4e3e3;
}

.title ol{
    list-style: none;
    margin:20px 0 0;
    padding:0;
    display: flex;
}

.title ol li::after{
    content:">";
    margin:0 5 0 10px;
}

.title ol li:last-child::after{
    content:none;
}

/* main */
.catlist{
  display: flex;
  margin-bottom: 40px;
}

dl{
    width: 100%;
    margin-left:20px;
}

.catlist dl dt{
    border-bottom: solid 1px #ccc;
    float: left;
}

.catlist  dd{
    color: #998484;
    
    border-bottom: solid 1px #ccc;
}


.castcat{
    flex-direction: column;

}







/* footer */


footer{
    background-color: #ede6e6;
    padding: 20px;
}

footer ul{
    list-style-type:none;
    margin:0 0 5px;
    padding:0;
    display:flex;
    justify-content:flex-end;
}

footer ul li {
    margin:0 0 0 20px;
}

footer ul li a,
footer ul li a:link,
footer ul li a:visited{
    text-decoration: none;
    font-size:13px;
    color:#000;
}

footer ul li a:hover{
    color:#888;
}

footer p{
    margin: 0;
    text-align: right;
    color:#888;
}





/* header */

/* header */

/* header */

/* header */
